Options {
    dock: left;
    width: 32;
    height: 100%;
    background: #24292f;
}

.new_game {
    width: 85%;
    margin-left: 4;
    margin-top: 4;
    text-align: center;
}

.load_save {
    width: 85%;
    margin-left: 4;
    margin-top: 1;
    text-align: center;
}

.quit {
    width: 85%;
    margin-left: 4;
    margin-top: 1;
    text-align: center;
}

.support {
    width: 85%;
    margin-left: 4;
    margin-top: 1;
    text-align: center;
}